@{
    ViewBag.Title = "Emergencia Page";
    Layout = "~/Views/_LayoutEmergencia.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="opciones_portales">
                <img src="/img/Iconos/libro-de-medicina.png">
                <br>
                <span>¿Necesita consultar rapidamente los datos de un cliente?</span>
                <br>
                <a asp-controller="Emergencia" asp-action="DatosCliente" style="text-decoration: none; list-style: none; color: black;">Ingresa aqui</a>
            </div>
        </div>
    </div>
</div>