@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutLogIn.cshtml";
}

<!--Anteriormente para el metodo de verificacion normal el name tenia user_cliente y
    user_password y action era Verificacion1-->
<form class="box" action="Verificacion1" method="post">
    <h1>Login</h1>
    <span class="text-danger" style="color: red;">@ViewData["Error"]</span>
    <input type="text" name="usuario" placeholder="Username" id="usuario">
    <input type="password" name="contraseña" placeholder="Password" id="contraeña">
    <button type="submit">Login</button>
    <a class="forgot text-muted" asp-controller="Cliente" asp-action="Registro">Eres Cliente? Registrate aqui</a>
    <br />
    <a class="forgot text-muted" asp-controller="Home" asp-action="Index">Regresar</a>
</form>




<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>



